:root {
    --green: #46763b;
    --orange: #d88530;
    font-size: 12px;
    font-family: 'Montserrat', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.flex-vert {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
header {
    width: 90%;
    height: 7vh;
    padding: 0.6%;
    margin: auto;
    border-radius: 50px;
    background-color: var(--orange);
}
header img {
    object-fit: scale-down;
    max-height: 100%;
    margin: 1% 
}
main {
    flex: 1;
    box-sizing: border-box;
    width: 90%;
    margin: 5% auto;
    padding: 5%;
    font-size: 1.7rem;
    flex-direction: column; /* Disposizione verticale */
    gap: 20px; /* Spazio tra gli elementi */
}
button {
    width: fit-content;
    padding: 3.5vh 4vw;
    margin: 0 auto;
    border: none;
    border-radius: 50px;
    font-size: large;
    color: white;
    background-color: var(--orange);
}
#wheel, #result {
    box-sizing: border-box;
    top: 40%;
    width: 90%;
    display: none;
}
#waitMsg {
    display: none;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7vh;
    margin: 0;
    font-size: 1rem;
    color: white;
    background-color: var(--green);
}
